

.welcome-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}
.Team-three-description  {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    font-style: normal;
    text-align: center;
    -webkit-text-fill-color:black
    
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color:antiquewhite;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-logo {
    margin-right: 10px;
}

.group-logo img {
    width: 90px;
}

header {
    padding: 10px 0;
    margin: 50px 0;
    background-color: #e4e4b0;
}

.small {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
}

h1, h2 , .small, footer{
    text-align: center;
}
h2 {
    margin: 10px 0;
}

.team-container {
    margin-top: 30px;
}

section {
    height: 100%;
    background-color: #e4e4b0;
    /* border: 2px solid black; */
    border-radius: 20px;
    box-shadow:  1px 1px 10px;
    padding: 15px;
    margin-bottom: 50px;
    
}

a {
    text-decoration: none;   
}

.team-container-items {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.first-items {
    background-color: #fff;
    height: 400px;
    text-align: center;
    width: 27%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 15px 1px;
}
.first-items:hover {
    transition: 0.3ms ease-in;
    box-shadow: 0px 0px 1px 0px;
}

.first-items img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 90%;
}

.summary-details {
    padding: 5px;
    font-size: 12px;
    text-align: left;
    margin: auto 10px;
}

/* .summary-details */

.section-bottom-div {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 90%;
    margin: 30px auto;
}

.section .section-bottom-div {
    padding-bottom: 30px!important;
}

.left-link {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.left-link ul {
    text-decoration: none;
    list-style: none;
    
}


.left-link ul li{
    width: 20vw;
}

.right-link {
    display: flex;
    flex-direction: column;
    align-items: start;
    left: 20px;
}

#btn1, #btn2, #btn3 {
    border: none;
    width: 80px;
    /* line-height: 10px; */
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
#btn1:hover, #btn2:hover, #btn3:hover {
    border: 2px solid #fff;
    font-weight: bold;
}
 
footer {
    margin-bottom: 20px;
}

#geng:hover {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}


/* member profile */
.section {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section h2 {
    padding: 30px 0;
}

.profile-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 15px;
   
   
}

.image-profile-container-items {
    width: 20%;
    /* background-color: blue; */
}

.image-profile-container-items img{
    height: 700px;
    /* border-radius: 5px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.info-grid-container{
    width: 50%;
 }

.info-profile-container-items {
    display: grid;
    background-color: #ebdada;
    gap: 50px 80px;
    margin-bottom: 20px;
}

.info-details, .social-handles {
    padding: 30px;
}

.message-box {
    margin-top: 40px;
}

input[value="Submit"] {
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    color: #fff;
    background-color: #30a730;
    cursor: pointer;
    transition: 0.3s all ease;
}

input[value="Submit"]:hover {
    font-size: bold;
    background-color: #068106;
}
#goBack {
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #ee2727;
    cursor: pointer;
    transition: 0.3s all ease;
}

#goBack:hover {
    font-size: bold;
    background-color: #fd0404;
}

span img {
    width: 32px;
    width: 32px;
}

#td-width {
    width: 20%;
}


.image-sent {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: none; 

}

#goBackDiv, #processing-feedback {
    display: none;
}



.image-sent img {
    width: 80px;
    height: 80px;
    margin: 0 auto;

}

.image-sent p {
    text-align: center;
}

#message {
    padding: 5px;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}






